@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Recursive:wght@400;700&display=swap');

:root {
    --primary: #807FC0;
    --primary-hover: #66669A;
}

body {
    --transition-delay: 1s;
    font-family: 'Inter';
}

/* for dark mode */
body.dark {
    --background-color: #181924;
}

a ,
a.page-link{
    color: #655CB8;
}

a.page-link:hover{
    color: #4757B8;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-search__field {
    border: 1px solid #ccc;
    outline-style: none !important;
    border-radius: 4px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #807FC0;
    color: white;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.select2-results__option {
    padding: 6px 20px 6px 20px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    background-color: #807FC0;
    border-color: #807FBA;
}

.btn-primary:hover {
    color: #fff;
    background-color: #66669A;
    border-color: #66669A;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #807FC0;
    border-color: #807FBA;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #807FC0;
    border-color: #807FBA;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar {
    color: #fff;
    background: #2A2B36;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background: #807FC0;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

.c-header{
    background: #2a2b36;
    /* color: rgba(255, 255, 255, 0.75); */
    --cui-header-hover-color: rgba(255, 255, 255, 0.9);
    --cui-header-active-color: #fff;
    --cui-header-disabled-color: rgba(255, 255, 255, 0.25);
    --cui-header-brand-color: #fff;
    --cui-header-brand-hover-color: #fff;
    --cui-header-toggler-border-color: rgba(255, 255, 255, 0.1);
    --cui-header-divider-border-color: rgba(255, 255, 255, 0.1);
    border-bottom: none !important;
}

.c-header .c-header-toggler{
    color: rgba(255, 255, 255, 0.75);
    /* border-color: rgba(255, 255, 255, 0.1); */
    
}

.c-header-brand d-lg-none {
    color: #fff;
}

.c-header .c-header-brand:focus, .c-header .c-header-brand:hover {
    color: #807FC0;
}

table.dataTable.no-footer {
    border-bottom: 2px solid #d8dbe0;
}
